<ul class="menu">
    {% for element in site.data.menu %} {% if element.subcategories != null %}
    <li>
        <a href="{{ element.href }}" class="page-link">{{ element.title }}</a>
        <ul class="sub-menu">
            {% for subcategory in element.subcategories %}
            <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <li><a href="{{ element.href }}" class="page-link">{{ element.title }}</a> {% endif %}
        </li>
        {% endfor %}
</ul>